<div [class.container]="isVerticalLayout$ | async" class="toolbar w-full pl-1 pr-3 flex items-center shadow-md">
  <button (click)="toggleCollapse()" [class.hidden]="mobileQuery" mat-icon-button type="button">
    <mat-icon svgIcon="mat:menu" class="text-3xl h-8 w-8"></mat-icon>
  </button>
  <button (click)="openSidenav()" [class.hidden]="!mobileQuery" mat-icon-button type="button">
    <mat-icon svgIcon="mat:menu" class="text-3xl h-8 w-8"></mat-icon>
  </button>

  <span class="flex-1"></span>
  <div class="flex items-center pl-36">
    <p class="font-semibold text-lg">DASHBOARD</p>
  </div>
  <span class="flex-1"></span>
  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>
  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
  [class.hidden]="mobileQuery"></vex-navigation>