<div #originRef
     class="rounded trans-ease-out px-2 py-1 min-w-[150px]">
  <!-- <div class="p-1 rounded-full sm:block">
    <div class="dropdown-heading-icon flex items-center justify-center"><mat-icon>person</mat-icon></div>
  </div> -->
  <!--  bg-[#F2F2F7] text-primary body-1 leading-snug ltr:mr-3 rtl:ml-3 -->
  <div class="p-1 font-medium text-right leading-snug sm:block">
    <!-- <p class="font-semibold">{{orgName}}</p> -->
    <!-- <p class="font-semibold">Test Username</p> -->
    <button (click)="logout()" mat-raised-button class="text-red-500 font-semibold hover:shadow-lg">Logout<mat-icon class="icon-sm ml-1">exit_to_app</mat-icon></button>
  </div>
</div>
